@import 'variaveis';

.card-form {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 20px;
}

.input-field {
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

.input-half {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.btn-toggle {
    padding: 10px 20px;
    border: 2px solid $green_hover;
    background-color: $white;
    cursor: pointer;
    transition: 0.3s;

    &.active,
    &:hover {
        background-color: $green;
        color: $white;
    }
}

.btn-submit {
    background-color: $green;
    color: $white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background-color: $green_hover;
    }
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-save {
    background-color: $green;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: all .3s ease;

    &:hover {
        background-color: $green_hover;
    }
}

.back-menu {
    background-color: $white;
    color: $green;
    border: 1px solid $green;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease;
    margin-bottom: 10px;

    &:hover {
        background-color: $green_hover;
        color: $white;
    }
}