.nav-index {
    .text-gray-700 {
        position: relative;
        transition: color 0.3s ease;
        cursor: pointer;

        &::after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: -5px;
            width: 0;
            height: 2px;
            background-color: darkred;
            transition: width 0.3s ease, left 0.3s ease;
        }

        &:hover {
            color: darkred;

            &::after {
                width: 100%;
                left: 0;
            }
        }
    }

    .active {
        color: darkred;
        cursor: text;

        &::after {
            width: 100%;
            left: 0;
        }
    }
}