@import 'variaveis';

//Index

//Hero Section
.hero {

    .btn-primary {
        background-color: $green;
        padding: 10px;
        border-radius: 20px;
        color: $white;
        transition: .3s ease;

        &:hover {
            background-color: $green_hover;
        }
    }

    .btn-secondary {
        background-color: rgb(116, 116, 116);
        padding: 10px;
        border-radius: 10px;
        color: $white;
        transition: .3s ease;

        &:hover {
            background-color: rgb(83, 83, 83);
        }
    }

}

//Benefits

.benefits {

    background-color: rgb(190, 255, 190);

    .benefit-item {
        background-color: $white;
        border-radius: 10px;
        padding: 10px;
    }
}


//Sobre

.benefit-item-sobre {
    transition: transform 0.3s ease;

    &:hover {
        transform: translateY(-5px);
    }
}

//Medicos

.medicos {
    background-color: rgb(190, 255, 190);

    .card-medico {
        transition: .3s ease;

        &:hover {
            transform: scale(1.1);
        }
    }
}